*{
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  text-decoration: none;
}
.App{
  background: #303030;
  height: 100vh;
  text-align: center;
  color: white;
}

.pai{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

.teste{
  width: 210px;
  min-height: 250px;
  display: flex;

  flex-direction: column;
  margin: 25px 12px;
  overflow: hidden;
  background: #fff;
  border-radius: 5px;
  cursor: pointer;
  text-align: left;
  text-decoration: none;
  color: rgb(31, 31, 31);
  font-weight: 700;

}

.teste h4{
  text-align: center;
  text-transform: capitalize;
  text-decoration: dashed;
}
.teste p{
  padding: 5px;
  text-decoration: none;
}

.teste img{
  height: 140px;
  width: 100%;

}